<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="DevExpress" value="https://nuget.devexpress.com/******/api" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceMapping>
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
        <packageSource key="DevExpress">
            <package pattern="DevExpress.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>